@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  @font-face {
    font-family: "surahnames";
    src: url("/assets/fonts/quran/surah-names/v1/sura_names.woff2"),
      url("/assets/fonts/quran/quran/surah-names/v1/sura_names.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
