@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  @font-face {
    font-family: "surahnames";
    src: url("/assets/fonts/quran/surah-names/v1/sura_names.woff2"),
      url("/assets/fonts/quran/quran/surah-names/v1/sura_names.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "IndoPak";
    src: local("AlQuran IndoPak by QuranWBW"),
      url("/assets/fonts/quran/hafs/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.woff2")
        format("woff2"),
      url("/assets/fonts/quran/hafs/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.woff")
        format("woff"),
      url("/assets/fonts/quran/hafs/nastaleeq/indopak/indopak-nastaleeq-waqf-lazim-v4.2.1.ttf")
        format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: "UthmanicHafs";
    src: local("KFGQPC HAFS Uthmanic Script"),
      url("/assets/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.woff2")
        format("woff2"),
      url("/assets/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.ttf")
        format("truetype");
    font-display: swap;
  }
}
